body {
  padding: 0;
  margin: 0;
}

.pokemon-card a {
  text-decoration: none;
  color: #5ec5b2;
  text-transform: capitalize;
}

.pokemon-card a :hover {
  color: #388375;
}

.pokemon-card:hover {
  transform: scale(105%);
  transition: ease-in;
  transition: 0.2s ease-in-out;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.pokemon-card {
  padding-top: 30px;
  margin:10px;
  background-color: transparent;
  width: 250px;
  height: 250px;
  box-shadow: 2px 2px 8px #48656361;
  border-radius: 0.5rem;
  box-sizing: border-box;
  transition: 0.2s ease-in-out;
}

.pokemon-img{ 
  height: 150px;
}

.buttons{
  position: relative;
  display: flex;
  flex-direction: row;
  display: inline;
  padding-left: 15px;
}

.card-container {
  margin-top: 80px;
}

.text-color {
  color: #486563;
}

.img-container {
  background: linear-gradient(0deg, rgba(255,255,255,0.001) 0%, rgba(255,255,255,1) 104%);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 350px;
}

.pokemon-detail-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 3%;
  position: relative;
  padding-bottom: 50px;
}

.pokemon-detail-wrapper-card {
  background:red;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 3px 3px 8px #48656361;
  border-radius: 0.5rem;
  box-sizing: border-box;
  transition: 0.2s ease-in-out;
}

.stat-background {
  border-radius: 10px;
  background-color: white;
  width: 100%;
  display: grid;
  outline-style: auto;
  outline-color: #fff;
}

.stats{
  min-width: 250px;
  padding-left: 30px;
  padding-right: 30px;
  justify-content: center;
  margin: 0;
}

.pokedex {
  position: relative;
  left: 44%;
}

.stat-name-fillbar {
  border-right: none;
  border-radius: 10px 0px 0px 10px;
  font-weight: bold;
  border-radius: 0 10px 10px 0;
  max-width: 100%;
}

.pokemon-name{ 
  font-size: 1.2rem;
}



.pokemon-detail-img{
  width: auto;
  padding: 20px
}

.type-grass {
  background-color: #9bcd50;
}

.type-fire { 
  background-color: #f97d24;
}

.type-fighting {
  background-color: #d56724;
}

.type-water {
  background-color: #4693c4;
}

.type-bug {
  background-color: #729f3f;
}

.type-normal{
  background-color: #a4acaf;
}

.type-poison{
  background-color: #b97ec9;
}

.type-electric,
.type-ground {
  background-color: #eed535;
}

.type-fairy { 
  background-color: #fcb9e9;
}

.type-rock{
  background-color: #a38c22;
}

/* Breakpoints for responsive styling */ 
@media (min-width: 1920px) and (max-width: 2560px) {
  .pokemon-card {
    width: 250px;
    height: 250px;
}
}

@media only screen and (min-width: 1024px) and (max-height: 1366px){
  .pokemon-card {
    width: 220px;
    height: 220px;
  }
}


/* Iphone x */
@media only screen 
and (max-width: 390px) 
and (max-height: 844px) { 
  .pokemon-detail-img {
    width: 250px;
  }

  .img-container{
    min-width: 300px;
  }
}


/* Iphone x */
@media only screen 
and (max-width: 375px) 
and (max-height: 812px) { 
  .pokemon-detail-img {
    width: 250px;
  }

  .img-container{
    min-width: 300px;
  }
}


/* Iphone 6/7/8 SE*/
@media only screen 
  and (min-width: 375px) 
  and (max-width: 667px) { 
    .card-container {
      text-align: -webkit-center;
    }
  }

/* Iphone 6/7/8 plus*/
@media only screen 
  and (min-width: 414px) 
  and (max-width: 736px) { 
    .card-container {
      text-align: -webkit-center;
    }
    .pokemon-detail-img {
        width: 250px;
      }

    .img-container{
      min-width: 300px;
    }
}